.login-component{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 400px;
    min-height: 450px;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
  
form{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 500px;
}
  
form h1{
    font-size: 1.5rem;
    font-weight: 800;
}
  
form .email{
    padding-left: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 2rem;
    font-weight: 300;
}
  
form .password{
    padding-left: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
}
  
form button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 1px;
    margin: 0 auto;
    background-color: transparent;
    transition: 0.3s ease;
    cursor: pointer;
}
  
form button:hover{
    transform: scale(1.15);
}
  
form button img{
    margin-top: 2px;
    font-size: 0.5rem;
    transition: 0.3s ease-in-out;
}
  
button img:hover{
    transform: scale(1.05);
}
  
input:focus {
    outline: none;
}
  
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -30px;
    width: 80%;
}
  
.divider span{
    font-weight: 300;
}
  
.divider::before,
.divider::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: gray;
}
  
.divider::before {
    margin-right: 10px;
}
  
.divider::after {
    margin-left: 10px;
}
  
.google-btn{
    height: 2.5rem;
    width: auto;
    margin: 2rem auto;
    transition: 0.3s ease;
}
  
.google-btn:hover{
    transform: scale(1.1);
}
  
.create-account{
    margin: 4rem auto 20px auto;
}
  
.create-account span{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}