.create-account-component{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 400px;
    min-height: 450px;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
  
form{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}
  
form h1{
    font-size: 1.5rem;
    font-weight: 800;
}

form input{
    padding-left: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: 300;
}

form .confirm-password{
    margin-bottom: 2rem;
}
  
form button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 1px;
    margin: 0 auto;
    background-color: transparent;
    transition: 0.3s ease;
    cursor: pointer;
}
  
form button:hover{
    transform: scale(1.15);
}
  
form button img{
    margin-top: 2px;
    font-size: 0.5rem;
    transition: 0.3s ease-in-out;
}
  
button img:hover{
    transform: scale(1.05);
}
  
input:focus {
    outline: none;
}
  
.sign-in{
    margin: 4rem auto 20px auto;
}
  
.sign-in span{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}